@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lightgray: #F3F4F6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* New hover effect for all elements */
.hover {
  transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.hover:hover {
  transform: translateY(-5px); /* Move the element up slightly on hover */
}